<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soonoo.mobilecampus"
    android:versionCode="2"
    android:versionName="1.0.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:logo="@mipmap/ic_launcher" >
        </activity>
        <activity
            android:name=".LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LecturePlanActivity"
            android:label="@string/title_activity_lecture_plan" >
        </activity>
        <activity
            android:name=".SyllabusActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_syllabus" >
        </activity>
        <activity
            android:name=".ScholarshipActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_scholarship" >
        </activity>
        <activity
            android:name=".GradeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_grade" >
        </activity>
        <activity
            android:name=".LibrarySeatInfoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_library_seat_info" >
        </activity>
        <activity
            android:name=".LibraryBookSearch"
            android:label="@string/title_activity_library_book_search" >
        </activity>
        <activity
            android:name=".LecReferRoomActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:label="@string/title_activity_lec_refer_room" >
        </activity>
        <activity
            android:name=".LecReferDispActivity"
            android:label="@string/title_activity_lec_refer_disp" >
        </activity>
        <activity
            android:name=".NoticeActivity"
            android:label="@string/title_activity_notice" >
        </activity>
        <activity
            android:name=".NoticeViewActivity"
            android:label="@string/title_activity_notice_view" >
        </activity>
    </application>

</manifest>
